.photo {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  border: 5px solid $color-red;
  background-position: center;
  
  &__box {
    animation: growUpBig 2000ms ease-out infinite;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .15);
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    margin: 0 auto;
    border:7px solid $color-yellow-dark;
  }
}