*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: $color-yellow;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul, ol, dl {
  list-style: none;
}