// COLORS
$color-yellow: #fdeeb9;
$color-yellow-dark: #cabb86;
$color-yellow-text: #978c64;
$color-orange: #ff6900;
$color-red: #772e33;
$color-red-text: #a3353b;
$color-white: #FFFEEF;
$color-text: #222222;

// FONTS
$default-font-title: "Herr Von Muellerhoff", cursive;
$default-font-text: "Cormorant Garamond", serif;